$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin respond-to($breakpoint){
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}



.top {
  background: rgb(247, 247, 247);
}
.title {
  font-weight: 600;
  font-size: x-large;

}
.holder-titles {
  text-align: center;
}
.title-big {
  font-size: 3rem;
}
.title-middle {
  font-size: 2rem;
}
.input {
  border: black 1px solid;
}
.button {
  cursor: pointer;
  background-color: rgb(103, 192, 243);
  border-radius: 6px;
  padding: 8px;
  &:hover {
    background-color: rgb(123, 204, 250);
  }
}
.holder-imgAndTitle {
  display: flex;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}
.TitleNextImg {
  font-size: 2rem;
  font-weight: 500;
}
.img1 {
  width: 50%;
  border-radius: 3rem;
}
.img2 {
  width: 50%;
  border-radius: 3rem;
}
.holder-imgwide {

}
.img-wide {
 border-radius: 3rem;
 max-width: 100rem;
 margin: 0 auto;
 position: absolute;
}
.big-img-inside {
  font-size: 3rem;
  position: relative;
  color: white;
}
